[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20.9.0"
  NEXT_PUBLIC_API_URL = "/api/v1"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
